{% extends 'base.html.twig' %}

{% block title %}DronaMada - Inscription{% endblock %}

{% block content %}
<div class = "container"> 
  <h1 class="mt-5"> Inscription </h1>
   
   {{form(form)}}
</div>
   
{% endblock %}
