{% extends 'base.html.twig' %}

{% block title %}DronaMada Contact {% endblock %}

{% block content %}
<style>

 body {
    height: 100vh;
    text-shadow:1px 1px 2px black;
 }

</style>
<div class="container mt-5">

{% for message in app.flashes('success') %}

        <div class="alert alert-success mt-4">

            {{message}}

        </div>
{% endfor %}

<h1> Formulaire de contact </h1>
{{form(form)}}
</div> 


{% endblock %}
