{% extends 'base.html.twig' %}

{% block title %}Valide ma commande - DronaMada{% endblock %}

{% block content %}

<h2> Je passe ma commande </h2>
<p>Choisissez vos préférences avant de passera votre commande sur DronaMada</p>
<hr>

<div class="row">

    <div class="col-md-6">

    {% set formHtml %}

      {{form(form)}}

    {% endset %}

  {{formHtml|replace({'[br]' : '<br/>'})|raw}}
  {# replace c'est pour dire que tu me remplace sa par sa, et raw interprète le html #}

        
        <b>Choisir mon transporteur</b>

    </div>
    <div class="col-md-6">
        <b>Récap de ma commande </b> <br>
        <b>Bouton pour payer</b>

    </div>
</div>

{% endblock %}